<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form page</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
</head>
<body>
    <div id="right"> <a href="/"> Go Back</a></div>
    <h1>Add a new Show</h1>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    <form action="/process" method="POST">
        {% csrf_token %}
        <p>Title       : <input name="title" type="text" minlength="2" required></p>
        <p>Net Work    : <input name="network" type="text" minlength="3" required></p>
        <p>Release Date: <input type="date" name="redate" value="2021-01-01" max="2021-05-24" required></p>
        <p>Description :</p>
        <p><textarea name="desc" minlength="10" required ></textarea></p>
        <input type="submit" value="Create">
    </form>
</body>
</html>