<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Information</title>
</head>
<body>
    <h1>Books:</h1>
    <h2>Book title{{ bookid.title}}</h2>
    <h3>Book id {{bookid.id}}</h3>
    <h3>Description</h3>
    <p>{{bookid.desc}}</p>

    <div>
        <h1>Authors:</h1>
        <ul>
            {% for i in authors %}
            <li>{{i.first_name}} {{i.last_name}}</li>
        </ul>
        {% endfor %}
    </div>

    <div>
        <form action="/drop2" method="POST">
            {% csrf_token %}
            <select name="author">
                {% for i in drop2 %}
                <option>{{i.first_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>

    </div>
</body>
</html>